@charset "UTF-8"
;*{
   margin: 0px;
   padding: 0px;
 }

 html,body{
  height: 100vh;
  width: 100vw;
  background-color: black;
 }


  /*BODY*/
  
  body{
    background: url('/imagens/Chaos2.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
  }

 /*MAIN*/

 main{
  
  height: 100vh;
  position: relative;
 }

 section#telefone{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 627px;
  width: 311px;
  background: url('../imagens/frame-iphone.png') no-repeat ;
 }

 iframe#tela{
  position: relative;
  top: 80px;
  left: 22px;
  height: 471px;
  width: 267px;
  background-size: cover;
 }

 section#redes-sociais{
  text-align: right;
 }

 section#redes-sociais img{
  width: 50px;
  margin: 10px;
  border-radius: 12px;
  box-sizing: border-box;
 }
 
 section#redes-sociais img:hover{
  border: 1.5px solid rgba(255, 255, 255, 0.596);
  transform: translate(-5px, 0px);
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.363);
  transition: transform 0.3s, box-shadow 0.4s;
 }